$font-color:rgb(197, 200, 198);
$background-color-header: #353634;
$background-color-input: #1D1F21;
$border-props: 1px solid #4f504d;

.layout-main{
  display: grid;
  grid-template-columns: 3fr 1.5fr 3fr;
  grid-template-rows: 5fr 1fr;
  grid-gap: 1em;

  .layout-main__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .layout-main__buttons--encode, .layout-main__buttons--decode{
      border-radius: 8px;
      font-size: 1.1em;
      border: none;
      color: #24292e;
      transition: transform .2s;
      width: 90%;
      height: 50px;
      margin: 10px 0px;
      background-color: #eeda7c;
    }

    .layout-main__buttons--encode:hover, .layout-main__buttons--decode:hover{
      transform: scale(1.05);
    }
  }

  .layout-main__output, .layout-main__input {
    justify-self: center;
    background-color: $background-color-header;
    width: 90%;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: $border-props;

    .ant-card-body{
      flex-grow: 1;
      background: $background-color-input;
      color: $font-color;
      overflow: auto;
      
      .ant-input{
        resize: none;
        min-height: 100%;
        color: $font-color;
      }  
    }

    .ant-card-head-title{
      color: $font-color;
    }
  }

  .layout-main__key {
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
    width: 70%;
    justify-self: center;
    border: $border-props;

    .ant-input-group-addon{
      background-color: $background-color-header;
      border: none;
      color: $font-color;
    }
          
    .ant-input{
      background: $background-color-input;
      border: none;
    }
  }
}