.app-layout {
  height: 100%;
  min-height: 700px;
  background:linear-gradient(to right,#252525, #3b3c38, #252525);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  min-width: 515px;

  .app-layout__container{
    grid-template-rows: 1fr minmax(400px, 10fr) 1fr;
    min-height: 700px;
    height: 100%;
    width: 60%;
    min-width: 515px;
    display: grid;  
    grid-gap: 10px;
  }

  .app-layout__github {
    fill: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    transition: transform .2s;
    z-index: 3;
  };

  .app-layout__github:hover {
    transform: scale(1.3);
  }
}