.header {
  width: 100%;
  border-bottom: 2px solid #4f504d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p:nth-child(1) {
    color: #f5da55;
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 5px;
  }

  p:nth-child(2) {
    font-size: 1.75em;
    color: rgb(197, 200, 198);
    font-weight: 600;
  }
}