@import "../../Constants/Constants.scss";

.login-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.356);
  z-index: 2;
  min-height: $min-app-height;

  .login-container{
    position: relative;
    bottom: 18%;
    width: 30%;
    background-color: $background-color-header;
    min-height: 200px;
    max-height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    

    label {
      color: $font-color
    }

    .login-container__label{
      justify-content: center;
      display: flex;
      color: $font-color;
      font-weight: 400;
      font-size: 2em;
      margin-top: 10px;
    }

    .login-container__buttons{
      display: flex;
      justify-content: space-evenly;

      .login-container__buttons--login{
        border: none;
        color: #24292e;
        transition: transform .2s;
        background-color: #eeda7c;
        width: 100%;
        margin-top: 10px;
      }

      .login-container__buttons--login:hover{
        transform: scale(1.05);
      }
    }

    .ant-input-password{
      background-color: $background-color-input;
      border:$border-props;

      svg {
        fill: $font-color;
      }
    }

    .ant-input{
      background-color: $background-color-input;
      color: $font-color;
    }
  }
}

.login-container__buttons-tooltip {
  .ant-tooltip-inner {
    color: $font-color;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.877);
  
    p {
      margin-bottom: 2px;
    }
  }
}