@font-face {
  font-family: 'Segoe-UI';
  src: local('Segoe-UI'), url(./Fonts/Segoe\ UI.ttf) format('woff');
};

body {
  margin: 0;
  font-family: Segoe-UI;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

